<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <!-- <h1>hey</h1> -->

     <form action="/get-form-data"
     method="post">
     <!-- method post dena is important
      and inputs pr name dena bhi -->
        <input 
        type="text"
        placeholder="enter username"
        name="username"
        >
        <input 
        type="email"
        placeholder="enter email"
        name="email">
        <input 
        type="password"
        placeholder="enter password"
        name="password">
        <input type="submit" value="submit">
        <!-- <button>submit</button> -->
     </form>
     <script src="asstes/app.js"></script>
</body>
</html>