*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
#box{
    height: 400px;
    width: 100%;
    background: rgb(24, 255, 24);
}
.blacktheme{
    background-color: black;
}
