*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0px 90px;
    padding-top: 170px;
    gap: 70px;
}
#left{
    height: 100%;
    width: 45%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}
#left h1{
    font-size: 145px;
    line-height: 155px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}
#bottom-left{
    /* height: 40%;*/
    width: 100%;
    /* background-color: yellow; */
}
#color{
    /* background-color: blue; */
    width: fit-content;
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid black;
}
#color h5{
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}
#color1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 3px;
    background-color: burlywood;
}
#color2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: brown;
}
#left h2{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 15px;
}
#left p{
    font-size: 20px;
    width: 65%;
    font-weight: 600;
    column-rule: #444;
    line-height: 30px;
}
#right{
    height: 90%;
    width: 33%;
    /* background-color: blue; */
    position: relative;
}
#right-top{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
#right h4{
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
#right h5{
    font-size: 16px;
}
#right-top h5 i{
    color: goldenrod;
}
#right img{
    height: 88%;
    width: 100%;
    object-fit: cover;
}
#black-gola{
    position: absolute;
    height: 190px;
    width: 190px;
    background-color: rgb(3,3, 7);
    color: white ;
    border-radius: 50%;
    right: -16%;
    top: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#black-gola h5{
    font-size: 26px;
    font-weight: 400;
}
#rotated{
    position: absolute;
    left: -10%;
    bottom: 2%;
    rotate: -90deg;
    transform-origin: 0 0;
    font-size: 35px;
    font-weight: 500;
}